fastapi~=0.95.1
geopy==2.3.0
langchain~=0.0.166
optimum~=1.8.7
peft~=0.3.0
pydantic~=1.10.7
pytest~=7.3.1
PyYAML==6.0
PyYAML==6.0
Requests~=2.28.1
setuptools==67.8.0
torch==2.0.1
transformers~=4.29.1
uvicorn==0.22.0
pinecone-client
chromadb=0.3.26
streamlit~=1.23.1
python-dotenv~=1.0.0
rich~=13.3.5
openai~=0.27.8
pexpect~=4.8.0
wikipedia~=1.4.0
beautifulsoup4~=4.12.2
gradio~=3.30.0
wolframalpha~=5.0.0
numpy~=1.24.2
chromadb~=0.3.26
tenacity~=8.2.2