name: mathria
type: rewoo
version: 0.0.1
description: A math agent capable of solving very complicated math problems. Ask it to solve very hard math problems.
prompt_template:
  Planner: !prompt ZeroShotPlannerPrompt
  Solver: !prompt ZeroShotSolverPrompt
llm:
  Planner:
    model_name: gpt-3.5-turbo-0613
    params:
      temperature: 0.0
      top_p: 0.9
      repetition_penalty: 1.0
      max_tokens: 1024
  Solver:
    model_name: gpt-3.5-turbo-0613
    params:
      temperature: 0.0
      top_p: 0.9
      repetition_penalty: 1.0
      max_tokens: 1024
target_tasks:
  - solving math problems
  - answer things about math
plugins:
  - name: wolfram_alpha